body {
    background-color: rgb(34, 79, 224);
    color:floralwhite;
}

#div-wrapping-form-teacher {
    margin: auto;
    width: 500px;
}

.divs-inside-form-teacher {
    width: 100%;
    margin: 0 auto;
}

#label-firstname-in-form {
    font-size: 1.5rem;
    margin: 0;
    padding: 0px;
}

#label-lastname-in-form {
    font-size: 1.5rem;
}

#label-gender-in-form {
    font-size: 1.5rem;
}

#label-gender-select{
    width: 90%;
    text-align-last: center;
}

#label-surname-in-form {
    font-size: 1.5rem;
}

#label-section-in-form {
    font-size: 1.5rem;
}

#label-section-select {
    width: 90%;

    text-align-last: center;
}

#txtarea-in-form{
    width: 88%;
}
form div input{
    width: 89%;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 768px){
    #div-wrapping-form-teacher {
        margin: auto;
        width: 100%;
    }
    
    .divs-inside-form-teacher {
        width: 100%;
        margin: 0 auto;
    }
    
    #label-firstname-in-form {
        font-size: 1.5rem;
        margin: 0;
        padding: 0px;
    }
    
    #label-lastname-in-form {
        font-size: 1.5rem;
    }
    
    #label-gender-in-form {
        font-size: 1.5rem;
    }
    
    #label-gender-select{
        width: 90%;
        text-align-last: center;
    }
    
    #label-surname-in-form {
        font-size: 1.5rem;
    }
    
    #label-section-in-form {
        font-size: 1.5rem;
    }
    
    #label-section-select {
        width: 90%;
    
        text-align-last: center;
    }
    
    #txtarea-in-form{
        width: 88%;
    }
    form div input{
        width: 89%;
        padding: 0px;
        margin: 0px;
    }